@model WebScraper.Mvc.Models.Error

@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Error Occured</title>
</head>
<body>
    <h2>@Model.Message</h2>
    <div><img src="~/Image/Oops.jpg" alt="404 error" style="width:50%;height:50%;" /></div>

</body>
</html>